# dependencies
node_modules/
client/node_modules/
server/node_modules/

# build outputs
build/
client/build/
server/build/
dist/
client/dist/
server/dist/

# testing
coverage/
client/coverage/
server/coverage/

# environment variables
.env
.env.*
client/.env
server/.env

# -----------------------------
# 🔑 Google Cloud / Secrets
# -----------------------------
google-service-key.json
google-key.json
*service-account*.json
*credentials*.json
*.secret.json


# misc
.DS_Store
.pnp
.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
